* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    cursor: crosshair;
    background-color: dimgrey;

}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(./img/game-background.jpg) center center/101% 100vh repeat-x;
    animation: animatedBackground 10s linear 1s infinite running;
}
@keyframes animatedBackground{
    from {
        background-position: 0 0;
    }
    to{
        background-position: 10000% 0;
    }
}


          /*Смерть персонажей*/

.kill{
    animation: killsUnits 0.4s forwards;
}

@keyframes killsUnits {
    100% {
        transform:rotateX(90deg);
    }

}

             /*ведьма*/

.ghost img{
    height: 27%;
    width: 27%;
    display: block;
    margin: auto;
}
.ghost{
    animation-direction: alternate;
    animation-duration: 5s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 52%;
    left: 18%;
    width: 220px;
    height: 280px;
}
@keyframes move {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -100px;
    }
}
.ghost:hover {
    animation: shake 10s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(32px, 32px) rotate(20deg);}
    20% { transform: translate(-40px, 28px) rotate(-10deg); }
    30% { transform: translate(0px, 0px) rotate(-5deg); }
    40% { transform: translate(32px, -32px) rotate(10deg); }
    50% { transform: translate(0px, 0px) rotate(-15deg); }
    60% { transform: translate(-30px, 32px) rotate(10deg); }
    70% { transform: translate(20px, -15px) rotate(-25deg); }
    80% { transform: translate(-32px, 32px) rotate(5deg); }
    90% { transform: translate(45px, -30px) rotate(-15deg); }
    100% { transform: translate(-24px, 40px) rotate(25deg); }
}

               /*самолет*/

.airplane img{
    width: 6%;
    height: 6%;
}
.airplane {
    position: absolute;
    top: 20%;
    left: 100%;
    z-index: 0;

    /*animation-direction: alternate;*/
    animation-duration: 8s;
    animation-name: moveAirplane;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moveAirplane {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}

             /*летучья мышь*/

.bat img{
    width: 3vw;
    height: 2vw;
}
.bat {
    position: absolute;
    top: 36%;
    left: 80%;

    animation-direction: alternate;
    animation-duration: 16s;
    animation-name: movebat;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes movebat {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -50%;
    }
}









/*width: 90%;*/
/*height: 100vh;*/
/*display: flex;*/
/*justify-content: center;*/
/*background: url(./img/game-background.jpg) center center/200vh 90vh repeat-x;*/
/*animation: animatedBackground 200s linear 1s infinite running;*/
/*margin-top: 2%;*/
